In [1]:
import pandas as pd 
import numpy as np

In [2]:
insurance_data = pd.read_csv('insurance_data.csv')
employee_data = pd.read_csv('employee_data.csv')
vendor_data = pd.read_csv('vendor_data.csv')

In [3]:
insurance_data.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [4]:
insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TXN_DATE_TIME             10000 non-null  object
 1   TRANSACTION_ID            10000 non-null  object
 2   CUSTOMER_ID               10000 non-null  object
 3   POLICY_NUMBER             10000 non-null  object
 4   POLICY_EFF_DT             10000 non-null  object
 5   LOSS_DT                   10000 non-null  object
 6   REPORT_DT                 10000 non-null  object
 7   INSURANCE_TYPE            10000 non-null  object
 8   PREMIUM_AMOUNT            10000 non-null  float64
 9   CLAIM_AMOUNT              10000 non-null  int64
 10  CUSTOMER_NAME             10000 non-null  object
 11  ADDRESS_LINE1             10000 non-null  object
 12  ADDRESS_LINE2             1495 non-null   object
 13  CITY                      9946 non-null   object
 14  STATE                     10000 non-null  object
 15  POSTAL_CODE               10000 non-null  int64
 16  SSN                       10000 non-null  object
 17  MARITAL_STATUS            10000 non-null  object
 18  AGE                       10000 non-null  int64
 19  TENURE                    10000 non-null  int64
 20  EMPLOYMENT_STATUS         10000 non-null  object
 21  NO_OF_FAMILY_MEMBERS      10000 non-null  int64
 22  RISK_SEGMENTATION         10000 non-null  object
 23  HOUSE_TYPE                10000 non-null  object
 24  SOCIAL_CLASS              10000 non-null  object
 25  ROUTING_NUMBER            10000 non-null  int64
 26  ACCT_NUMBER               10000 non-null  object
 27  CUSTOMER_EDUCATION_LEVEL  9471 non-null   object
 28  CLAIM_STATUS              10000 non-null  object
 29  INCIDENT_SEVERITY         10000 non-null  object
 30  AUTHORITY_CONTACTED       10000 non-null  object
 31  ANY_INJURY                10000 non-null  int64
 32  POLICE_REPORT_AVAILABLE   10000 non-null  int64
 33  INCIDENT_STATE            10000 non-null  object
 34  INCIDENT_CITY             9954 non-null   object
 35  INCIDENT_HOUR_OF_THE_DAY  10000 non-null  int64
 36  AGENT_ID                  10000 non-null  object
 37  VENDOR_ID                 6755 non-null   object
dtypes: float64(1), int64(9), object(28)
memory usage: 2.9+ MB

In [5]:
employee_data

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134
...,...,...,...,...,...,...,...,...,...,...
1195,AGENT01196,Myrtle Mccatty,2005-09-14,3553 Brandywine Street Northwest,NaN,Washington,DC,20008,32137938,EWBR19907574832501
1196,AGENT01197,John Dorsey,1993-12-04,2315 Chestnut Street,NaN,Montgomery,AL,36107,70796687,KGEJ74846009867837
1197,AGENT01198,Ruth Bigbee,1993-09-05,1983 Reidsville Street,NaN,Annapolis,MD,21401,124993912,RASV88064214164820
1198,AGENT01199,Tommie Camacho,2004-10-25,5821 Taft Street,NaN,Arvada,CO,80004,19424059,UOFO11656245339211
1199,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511

In [6]:
vendor_data

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210
...,...,...,...,...,...,...,...
595,VNDR00596,Rhodes-Mendez,1689 Fisher Pond Road,NaN,Saint Albans City,VT,5478
596,VNDR00597,Ortiz-Donovan,140 South Hill Avenue,#305,Fayetteville,AR,72701
597,VNDR00598,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587
598,VNDR00599,Reeves-Leonard,12420 West Montebello Avenue,NaN,Litchfield Park,AZ,85340
599,VNDR00600,"Jacobs, Fox and Torres",2426 East Onyx Trail,#6,Fayetteville,AR,72701

## Task 1

In [113]:
### Merge the 3 dataset and create 1 view of data.
### You can merge insurance_data.csv and employee_data.csv on
### AGENT_ID You can merge insurance_data.csv and vendor_data.csv on
### VENDOR_ID Note: Use left Outer join as not all claims require Vendor

In [8]:
all_data = pd.merge(insurance_data,employee_data, on='AGENT_ID', how='left', suffixes= ('_CUSTOMER','_AGENT'))

In [9]:
all_data1 = pd.merge(all_data,vendor_data, on ='VENDOR_ID', how='left')

In [10]:
all_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TXN_DATE_TIME             10000 non-null  object
 1   TRANSACTION_ID            10000 non-null  object
 2   CUSTOMER_ID               10000 non-null  object
 3   POLICY_NUMBER             10000 non-null  object
 4   POLICY_EFF_DT             10000 non-null  object
 5   LOSS_DT                   10000 non-null  object
 6   REPORT_DT                 10000 non-null  object
 7   INSURANCE_TYPE            10000 non-null  object
 8   PREMIUM_AMOUNT            10000 non-null  float64
 9   CLAIM_AMOUNT              10000 non-null  int64
 10  CUSTOMER_NAME             10000 non-null  object
 11  ADDRESS_LINE1_CUSTOMER    10000 non-null  object
 12  ADDRESS_LINE2_CUSTOMER    1495 non-null   object
 13  CITY_CUSTOMER             9946 non-null   object
 14  STATE_CUSTOMER            10000 non-null  object
 15  POSTAL_CODE_CUSTOMER      10000 non-null  int64
 16  SSN                       10000 non-null  object
 17  MARITAL_STATUS            10000 non-null  object
 18  AGE                       10000 non-null  int64
 19  TENURE                    10000 non-null  int64
 20  EMPLOYMENT_STATUS         10000 non-null  object
 21  NO_OF_FAMILY_MEMBERS      10000 non-null  int64
 22  RISK_SEGMENTATION         10000 non-null  object
 23  HOUSE_TYPE                10000 non-null  object
 24  SOCIAL_CLASS              10000 non-null  object
 25  ROUTING_NUMBER            10000 non-null  int64
 26  ACCT_NUMBER               10000 non-null  object
 27  CUSTOMER_EDUCATION_LEVEL  9471 non-null   object
 28  CLAIM_STATUS              10000 non-null  object
 29  INCIDENT_SEVERITY         10000 non-null  object
 30  AUTHORITY_CONTACTED       10000 non-null  object
 31  ANY_INJURY                10000 non-null  int64
 32  POLICE_REPORT_AVAILABLE   10000 non-null  int64
 33  INCIDENT_STATE            10000 non-null  object
 34  INCIDENT_CITY             9954 non-null   object
 35  INCIDENT_HOUR_OF_THE_DAY  10000 non-null  int64
 36  AGENT_ID                  10000 non-null  object
 37  VENDOR_ID                 6755 non-null   object
 38  AGENT_NAME                10000 non-null  object
 39  DATE_OF_JOINING           10000 non-null  object
 40  ADDRESS_LINE1_AGENT       10000 non-null  object
 41  ADDRESS_LINE2_AGENT       1451 non-null   object
 42  CITY_AGENT                9946 non-null   object
 43  STATE_AGENT               10000 non-null  object
 44  POSTAL_CODE_AGENT         10000 non-null  int64
 45  EMP_ROUTING_NUMBER        10000 non-null  int64
 46  EMP_ACCT_NUMBER           10000 non-null  object
 47  VENDOR_NAME               6755 non-null   object
 48  ADDRESS_LINE1             6755 non-null   object
 49  ADDRESS_LINE2             1145 non-null   object
 50  CITY                      6713 non-null   object
 51  STATE                     6755 non-null   object
 52  POSTAL_CODE               6755 non-null   float64
dtypes: float64(2), int64(11), object(40)
memory usage: 4.1+ MB

### TASK 2

In [114]:
### Business Leader wants to find Top 3 Insurance Type where we are getting most insurance claims?

In [11]:
insurance_data['INSURANCE_TYPE'].value_counts()[:3]

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

### TASK 3

In [ ]:
# Business Leader wants to find Top 5 States where we are getting most insurance claims for customer belonging to HIGH(H) risk segment?

In [12]:
insurance_data[insurance_data['RISK_SEGMENTATION']=='H'].STATE.value_counts()[:5]

CA    148
AZ    105
FL    104
TN    100
AR     97
Name: STATE, dtype: int64

In [13]:
all_data1.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME',
       'ADDRESS_LINE1_CUSTOMER', 'ADDRESS_LINE2_CUSTOMER', 'CITY_CUSTOMER',
       'STATE_CUSTOMER', 'POSTAL_CODE_CUSTOMER', 'SSN', 'MARITAL_STATUS',
       'AGE', 'TENURE', 'EMPLOYMENT_STATUS', 'NO_OF_FAMILY_MEMBERS',
       'RISK_SEGMENTATION', 'HOUSE_TYPE', 'SOCIAL_CLASS', 'ROUTING_NUMBER',
       'ACCT_NUMBER', 'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS',
       'INCIDENT_SEVERITY', 'AUTHORITY_CONTACTED', 'ANY_INJURY',
       'POLICE_REPORT_AVAILABLE', 'INCIDENT_STATE', 'INCIDENT_CITY',
       'INCIDENT_HOUR_OF_THE_DAY', 'AGENT_ID', 'VENDOR_ID', 'AGENT_NAME',
       'DATE_OF_JOINING', 'ADDRESS_LINE1_AGENT', 'ADDRESS_LINE2_AGENT',
       'CITY_AGENT', 'STATE_AGENT', 'POSTAL_CODE_AGENT', 'EMP_ROUTING_NUMBER',
       'EMP_ACCT_NUMBER', 'VENDOR_NAME', 'ADDRESS_LINE1', 'ADDRESS_LINE2',
       'CITY', 'STATE', 'POSTAL_CODE'],
      dtype='object')

In [14]:
all_data1['STATE_CUSTOMER']

0       AZ
1       CO
2       CA
3       GA
4       CA
        ..
9995    CT
9996    AR
9997    AK
9998    CA
9999    OK
Name: STATE_CUSTOMER, Length: 10000, dtype: object

### TASK 4

In [ ]:
# Business wants to create a new variable “COLOCATION” which will have following values IF Customer State == Incident State == Agent Address State 
# THEN 1 ELSE 0 Find the mean of this new column

In [15]:
all_data1['COLOCATION'] =  (all_data1['STATE_CUSTOMER'] == all_data1['INCIDENT_STATE']) & (all_data1['INCIDENT_STATE']== all_data1['STATE_AGENT'])

In [16]:
all_data1['COLOCATION']= all_data1.COLOCATION.astype('int')
all_data1['COLOCATION'].mean()

0.0044

### TASK 5

In [ ]:
# Data entry error was detected in the data and you are required to correct it. If for any
# claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1
# Then Update “AUTHORITY_CONTACTED” to Police.

In [17]:
all_data1.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME',
       'ADDRESS_LINE1_CUSTOMER', 'ADDRESS_LINE2_CUSTOMER', 'CITY_CUSTOMER',
       'STATE_CUSTOMER', 'POSTAL_CODE_CUSTOMER', 'SSN', 'MARITAL_STATUS',
       'AGE', 'TENURE', 'EMPLOYMENT_STATUS', 'NO_OF_FAMILY_MEMBERS',
       'RISK_SEGMENTATION', 'HOUSE_TYPE', 'SOCIAL_CLASS', 'ROUTING_NUMBER',
       'ACCT_NUMBER', 'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS',
       'INCIDENT_SEVERITY', 'AUTHORITY_CONTACTED', 'ANY_INJURY',
       'POLICE_REPORT_AVAILABLE', 'INCIDENT_STATE', 'INCIDENT_CITY',
       'INCIDENT_HOUR_OF_THE_DAY', 'AGENT_ID', 'VENDOR_ID', 'AGENT_NAME',
       'DATE_OF_JOINING', 'ADDRESS_LINE1_AGENT', 'ADDRESS_LINE2_AGENT',
       'CITY_AGENT', 'STATE_AGENT', 'POSTAL_CODE_AGENT', 'EMP_ROUTING_NUMBER',
       'EMP_ACCT_NUMBER', 'VENDOR_NAME', 'ADDRESS_LINE1', 'ADDRESS_LINE2',
       'CITY', 'STATE', 'POSTAL_CODE', 'COLOCATION'],
      dtype='object')

In [18]:
not_police = all_data1[all_data1['AUTHORITY_CONTACTED'] != 'Police']

In [19]:
r_update = not_police[not_police['POLICE_REPORT_AVAILABLE']==1].index

In [20]:
all_data1.loc[r_update,'AUTHORITY_CONTACTED'] = 'Police'

In [21]:
all_data1[(all_data1['POLICE_REPORT_AVAILABLE']==1) & (all_data1['AUTHORITY_CONTACTED']!= 'Police')]

Empty DataFrame
Columns: [TXN_DATE_TIME, TRANSACTION_ID, CUSTOMER_ID, POLICY_NUMBER, POLICY_EFF_DT, LOSS_DT, REPORT_DT, INSURANCE_TYPE, PREMIUM_AMOUNT, CLAIM_AMOUNT, CUSTOMER_NAME, ADDRESS_LINE1_CUSTOMER, ADDRESS_LINE2_CUSTOMER, CITY_CUSTOMER, STATE_CUSTOMER, POSTAL_CODE_CUSTOMER, SSN, MARITAL_STATUS, AGE, TENURE, EMPLOYMENT_STATUS, NO_OF_FAMILY_MEMBERS, RISK_SEGMENTATION, HOUSE_TYPE, SOCIAL_CLASS, ROUTING_NUMBER, ACCT_NUMBER, CUSTOMER_EDUCATION_LEVEL, CLAIM_STATUS, INCIDENT_SEVERITY, AUTHORITY_CONTACTED, ANY_INJURY, POLICE_REPORT_AVAILABLE, INCIDENT_STATE, INCIDENT_CITY, INCIDENT_HOUR_OF_THE_DAY, AGENT_ID, VENDOR_ID, AGENT_NAME, DATE_OF_JOINING, ADDRESS_LINE1_AGENT, ADDRESS_LINE2_AGENT, CITY_AGENT, STATE_AGENT, POSTAL_CODE_AGENT, EMP_ROUTING_NUMBER, EMP_ACCT_NUMBER, VENDOR_NAME, ADDRESS_LINE1, ADDRESS_LINE2, CITY, STATE, POSTAL_CODE, COLOCATION]
Index: []

[0 rows x 54 columns]

### TASK 6

In [ ]:
# Business wants to check the Claim Amount for deviation for each transaction, they would
# like you to calculate as follow
# CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)/ CURRENT_CLAIM_AMOUNT
# If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0
# If there is less than 30 days of transaction history THEN -1 Note: LAST_30DAYS does not include current day

In [22]:
all_data1.TXN_DATE_TIME.max()

'2021-06-30 00:00:00'

In [23]:
latest_date = pd.to_datetime('2021-06-30')

In [24]:
all_data1['TXN_DATE_TIME'] = pd.to_datetime(all_data1['TXN_DATE_TIME'])

In [25]:
 last_30days = all_data1[(all_data1['TXN_DATE_TIME'] > '2021-05-30') & (all_data1['TXN_DATE_TIME'] < '2021-06-30')]

In [26]:
avg_claim_amount = last_30days.groupby('INSURANCE_TYPE').mean()['CLAIM_AMOUNT'].to_dict()

In [115]:
def claim_dev(row):
    if (latest_date - row['TXN_DATE_TIME'])<pd.Timedelta(days=30):
        return -1
    claim_deviation = avg_claim_amount[row['INSURANCE_TYPE']] / row['CLAIM_AMOUNT']
    if claim_deviation < 0.5:
        return 1
    else:
        return 0

In [116]:
all_data1['CLAIM_DEVIATION'] = all_data1.apply(claim_dev,axis=1)

In [117]:
all_data1.CLAIM_DEVIATION.value_counts()

 0    9216
-1     784
Name: CLAIM_DEVIATION, dtype: int64

### TASK 7

In [ ]:
# Find All Agents who have worked on more than 2 types of Insurance Claims. Sort them by
# Total Claim Amount Approved under them in descending order

In [30]:
agent_count= all_data1.groupby('AGENT_ID')['INSURANCE_TYPE'].nunique()

In [31]:
ins_type =agent_count >2

In [32]:
agent_types = ins_type[ins_type].index

In [33]:
top_agent_types =  all_data1.groupby(['AGENT_ID','AGENT_NAME']).sum().loc[agent_types][['CLAIM_AMOUNT']].sort_values('CLAIM_AMOUNT', ascending = False)

In [34]:
top_agent_types

                             CLAIM_AMOUNT
AGENT_ID   AGENT_NAME
AGENT00807 Don Filkins             528800
AGENT00679 Clara Barnett           489000
AGENT00771 Roger Burns             422100
AGENT00125 Salvador Soriano        400400
AGENT00789 Alison Baron            392900
...                                   ...
AGENT00910 Vincent Ragan            15500
AGENT00689 Connie Hunt              13700
AGENT00732 Sylvia Tran              11300
AGENT00706 Laura Staggs             10800
AGENT00604 Thelma Salinas            5500

[1164 rows x 1 columns]

In [35]:
top_agent_types.join(agent_count)

                             CLAIM_AMOUNT  INSURANCE_TYPE
AGENT_ID   AGENT_NAME
AGENT00807 Don Filkins             528800               6
AGENT00679 Clara Barnett           489000               4
AGENT00771 Roger Burns             422100               5
AGENT00125 Salvador Soriano        400400               4
AGENT00789 Alison Baron            392900               4
...                                   ...             ...
AGENT00910 Vincent Ragan            15500               3
AGENT00689 Connie Hunt              13700               3
AGENT00732 Sylvia Tran              11300               3
AGENT00706 Laura Staggs             10800               3
AGENT00604 Thelma Salinas            5500               3

[1164 rows x 2 columns]

### TASK 8

In [ ]:
# Mobile & Travel Insurance premium are discounted by 10%
# Health and Property Insurance premium are increased by 7%
# Life and Motor Insurance premium are marginally increased by 2%
# What will be overall change in % of the Premium Amount Collected for all these Customer?

In [37]:
premium_collected = all_data1['PREMIUM_AMOUNT'].sum()

In [38]:
premium_types = all_data1.groupby('INSURANCE_TYPE').sum()['PREMIUM_AMOUNT'].to_dict()

In [39]:
premium_types

{'Health': 252455.73,
 'Life': 125621.22,
 'Mobile': 15191.42,
 'Motor': 165391.98,
 'Property': 202285.83,
 'Travel': 124139.77}

In [44]:
premium_types['Mobile'] *= 0.9
premium_types['Travel'] *= 0.9

premium_types['Health'] *= 0.7
premium_types['Property'] *= 0.7

premium_types['Life'] *= 0.2
premium_types['Motor'] *= 0.2

In [45]:
premium_after = sum(premium_types.values())

In [46]:
(premium_after)* 100/ premium_collected

27.907312222050294

In [47]:
premium_collected, premium_after

(885085.95, 247003.69949999996)

### TASK 9

In [ ]:
# Business wants to give discount to customer who are loyal and under stress due to Covid19. They have laid down an eligibility Criteria as follow
# IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”
# AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0
# Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it mean.

In [53]:
loyal_customers = (all_data1['TENURE'] > 60 ) & (all_data1['EMPLOYMENT_STATUS']=='N') & (all_data1['NO_OF_FAMILY_MEMBERS']>= 4)

In [54]:
all_data1['ELIGIBLE_FOR_DISCOUNT'] = loyal_customers.astype('int')

In [55]:
all_data1['ELIGIBLE_FOR_DISCOUNT'].mean()

0.0299

### Task 10

In [ ]:
# Business wants to check Claim Velocity which is defined as follow
# CLAIM_VELOCITY = NO_OF_CLAIMS_IN_LAST30DAYS (for the current insurance type) / NO_OF_CLAIMS_IN_LAST3DAYS (for the current insurance type)
# Note: LAST30DAYS & LAST3DAYS does not include current day

In [56]:
all_data1['CLAIM_STATUS'].value_counts()

A    9497
D     503
Name: CLAIM_STATUS, dtype: int64

In [58]:
last_3days = all_data1[(all_data1['TXN_DATE_TIME'] > latest_date-pd.Timedelta(days=4)) & (all_data1['TXN_DATE_TIME'] < latest_date)]

In [59]:
claims_30days = pd.DataFrame.from_dict(last_30days[last_30days['CLAIM_STATUS']=='A'].groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])

In [60]:
claims_3days = pd.DataFrame.from_dict(last_3days[last_3days['CLAIM_STATUS']=='A'].groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST3DAYS'])

In [61]:
claims_approved = claims_30days.join(claims_3days)

In [62]:
claims_approved['CLAIM_VELOCITY'] = claims_approved['NO_OF_CLAIMS_IN_LAST30DAYS']/claims_approved['NO_OF_CLAIMS_IN_LAST3DAYS']

In [65]:
claims_approved

,NO_OF_CLAIMS_IN_LAST30DAYS,NO_OF_CLAIMS_IN_LAST3DAYS,CLAIM_VELOCITY
Health,128,14,9.142857
Life,128,12,10.666667
Mobile,127,9,14.111111
Motor,117,12,9.750000
Property,125,12,10.416667
Travel,123,14,8.785714

In [78]:
All_30_claims = pd.DataFrame.from_dict(last_30days.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['CLAIMS_IN_LAST30DAYS'])

In [79]:
All3_claims = pd.DataFrame.from_dict(last_3days.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['CLAIMS_IN_LAST3DAYS'])

In [80]:
total_claims = All_30_claims.join(All3_claims)

In [81]:
total_claims['CLAIM_VELOCITY'] = total_claims['CLAIMS_IN_LAST30DAYS']/total_claims['CLAIMS_IN_LAST3DAYS']

In [82]:
total_claims

          CLAIMS_IN_LAST30DAYS  CLAIMS_IN_LAST3DAYS  CLAIM_VELOCITY
Health                     136                   14        9.714286
Life                       140                   14       10.000000
Mobile                     134                   10       13.400000
Motor                      122                   13        9.384615
Property                   129                   13        9.923077
Travel                     125                   14        8.928571

### TASK 11

In [ ]:
# Find all low performing agents i.e. employees who are in the bottom 5 percentile based on Claims worked by them.

In [83]:
Bottom_5percentile = all_data1.groupby('AGENT_ID').sum().quantile(0.05)['CLAIM_AMOUNT']

In [84]:
Agent_data = all_data1.groupby('AGENT_ID').sum()

In [85]:
Bottom_5p_agents = Agent_data[Agent_data['CLAIM_AMOUNT']<=Bottom_5percentile][['CLAIM_AMOUNT']]

In [86]:
Bottom_5p_agents

            CLAIM_AMOUNT
AGENT_ID
AGENT00006         22400
AGENT00014          7400
AGENT00016         27000
AGENT00085         25700
AGENT00088         27700
AGENT00091         30000
AGENT00098         28200
AGENT00134         22000
AGENT00149         28900
AGENT00156         13200
AGENT00172         22200
AGENT00185         16100
AGENT00186         27700
AGENT00188         28400
AGENT00197         18500
AGENT00252         20000
AGENT00263         11500
AGENT00275         16200
AGENT00279         28000
AGENT00300         12600
AGENT00310         28800
AGENT00316         22200
AGENT00351         21700
AGENT00425         17800
AGENT00442         30300
AGENT00536         20000
AGENT00562         21100
AGENT00571         24200
AGENT00585         16600
AGENT00590         22200
AGENT00604          5500
AGENT00621          5300
AGENT00628          6100
AGENT00672         21300
AGENT00689         13700
AGENT00706         10800
AGENT00721          9000
AGENT00732         11300
AGENT00773         15000
AGENT00780         11300
AGENT00790          6000
AGENT00804         20000
AGENT00805         22600
AGENT00830         23500
AGENT00841         17800
AGENT00856         24200
AGENT00894         27600
AGENT00910         15500
AGENT00969         28300
AGENT00985         30000
AGENT01021         24300
AGENT01037          5600
AGENT01052         28000
AGENT01077          4200
AGENT01107         24700
AGENT01128         28000
AGENT01131         27500
AGENT01151         28000
AGENT01154           800
AGENT01179         27300

### TASK 12

In [ ]:
# Business wants to find all Suspicious Employees (Agents).
# IF TOTAL CLAIM AMOUNT which meet below criteria is >= 15000 THEN AGENT is classified as Suspicious ELSE Not
# CLAIM_STATUS = Approved AND CUSTOMER_RISK_SEGMENTATION = High
# AND INCIDENT_SEVERITY = “Major Loss”
# If Suspicious, then 1 ELSE 0. Find mean of this column.

In [92]:
target = (all_data1['CLAIM_STATUS']=='A')&(all_data1['RISK_SEGMENTATION']=='H')&(all_data1['INCIDENT_SEVERITY']=='Major Loss')

In [97]:
Target = all_data1[target]

In [98]:
suspicious_employee_data = Target.groupby('AGENT_ID').sum()

In [102]:
suspicious_employee = list(suspicious_employee_data[suspicious_employee_data['CLAIM_AMOUNT']>= 15000].index)

In [103]:
employee_data

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134
...,...,...,...,...,...,...,...,...,...,...
1195,AGENT01196,Myrtle Mccatty,2005-09-14,3553 Brandywine Street Northwest,NaN,Washington,DC,20008,32137938,EWBR19907574832501
1196,AGENT01197,John Dorsey,1993-12-04,2315 Chestnut Street,NaN,Montgomery,AL,36107,70796687,KGEJ74846009867837
1197,AGENT01198,Ruth Bigbee,1993-09-05,1983 Reidsville Street,NaN,Annapolis,MD,21401,124993912,RASV88064214164820
1198,AGENT01199,Tommie Camacho,2004-10-25,5821 Taft Street,NaN,Arvada,CO,80004,19424059,UOFO11656245339211
1199,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511

In [107]:
employee_data['SUSPICIOUS'] = 0

In [108]:
suspicious_emp = employee_data['AGENT_ID'].isin(suspicious_employee)

In [109]:
employee_data.loc[suspicious_emp,'SUSPICIOUS']=1

In [110]:
employee_data['SUSPICIOUS'].mean()

0.12416666666666666